[tool.poetry]
name = "mudkip"
version = "0.4.5"
description = "A friendly Sphinx wrapper"
authors = ["Valentin Berlier <berlier.v@gmail.com>"]
license = "MIT"

homepage = "https://github.com/vberlier/mudkip"
repository = "https://github.com/vberlier/mudkip"
documentation = "https://github.com/vberlier/mudkip"

readme = "README.md"

keywords = [
]

[tool.poetry.dependencies]
python = "^3.8"
Sphinx = "^3.5.3"
click = "^7.1.2"
watchdog = "^2.0.2"
sphinx-autodoc-typehints = "^1.11.1"
sphinx-rtd-theme = "^0.5.1"
livereload = "^2.6.3"
tomlkit = "^0.7.0"
notebook = "^6.3.0"
jupyter_nbextensions_configurator = "^0.4.1"
colorama = {version = "*", markers = 'sys_platform == "win32"'}
myst-parser = "^0.13.5"
myst-nb = "^0.12.0"
furo = "^2021.3.20-beta.31"

[tool.poetry.dev-dependencies]
black = { version = "^20.8b1", allow-prereleases = true }

[tool.poetry.scripts]
mudkip = 'mudkip.cli:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
